@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none !important;
}

@media (hover: none) {
  * {
    cursor: auto !important;
  }
  
  .custom-cursor {
    display: none !important;
  }
}